body {
	font-family: "Century Gothic";
	background-color: ghostwhite;

}
@font-face {
	font-family: "Universum";
	src: url("Universum.ttf");
}
h1 {
	color: rgba(104,195,163,1);
	font-family: "Universum";
}
.header {
	padding: 20px;
	background-color: rgba(156,156,178,.2);
}
.container {
	padding: 20px;
}